@model UserModel
@{
    ViewBag.Title = "Profile";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div>
    <h2>Welcome, @Model.UserName!</h2>
    @if (Model.ProfilePicture != null)
    {
        <div>
            <img src="@Model.ProfilePicture" alt="Profile Picture" />
        </div>
    }

    <div>
        <p></p>
        <p><a class="nav-link text-dark" asp-area="" asp-controller="Tool" asp-action="MyTools"> My Tools </a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-controller="Tool" asp-action="MyRentedTools"> My Rented Tools </a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-controller="Tip" asp-action="MyTips"> My Tips </a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-controller="JobListing" asp-action="MyJobs"> My Jobs </a></p>
    </div>

    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="EditProfile">Edit Profile</a>
    </div>
</div>
