@model TipsDetailedModel

@{
    ViewBag.Title = "Article Details";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@Model.Title</h2>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <p><strong>Category:</strong></p>
                        </div>
                        <div class="col-sm-9">
                            <p>@Model.Category.Name</p>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>@Model.Content</p>
                    </div>
                    @if (Model.AuthorId.ToString("D") != User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <div class="text-center mt-4">
                            <form asp-controller="Tool" asp-action="Like" asp-route-id="@Model.Id" method="post">
                                <button class="btn btn-primary" type="submit">Like</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
